body {
    font-family: Inter, sans-serif;
    background-color: hsl(0, 0%, 8%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(0, 0%, 12%);
    width: 360px;
    height: 590px;
    margin: 15vh;
    border-radius: 10px;
}

.container .dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container .dados img {
    margin-top: 30px;
    height: 176px;
    width: 176px;
    border-radius: 50%;
}

.container h2 {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
}

.container .span {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: bold;
    margin: -15px;
}

.container p {
    margin-top: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 15px;

}

.container .plataforms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    margin-top: 15px;
    padding: 15px 32px;
    gap: 10px;
}

.container .plataforms .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    width: 300px;
    height: 35px;
    border-radius: 10px;

}

.container .plataforms .btn:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: url('../images/handcursor.svg') 7 0, pointer;
    color: hsl(0, 0%, 8%);
}